<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Materials Segmentation Interactive Segmentation Demo</title>
    <link type="text/css" href="/css/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <script src="/js/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="/js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/dragscrollable.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/js/log.js"></script>
    <script type="text/javascript" src="/js/remote.js"></script>
    <script type="text/javascript" src="/js/work-canvas.js"></script>
    <script type="text/javascript" src="/js/tools.js"></script>
    <script type="text/javascript" src="/js/slice-selector.js"></script>
    <script type="text/javascript" src="/js/callbacks.js"></script>
    <script type="text/javascript" src="/js/state.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="containermiddle">
	<div class="workingarea">
	  <!-- <img class="mainimg" src="/img/image0090.png" /> -->
	  <canvas id="mainimg" width="750" height="525"></canvas>
	</div>
      </div>
      <div class="navbar">
	<div id="accordion">
	  <h3><a href="#">Tools</a></h3>
	  <div>
	    <!-- <h3>Tools</h3> -->
	    <div id="interactionset">
	      <input type="radio" id="none" name="interaction" checked="checked" class="interaction" />
	      <label for="none">Pan</label>
	      <input type="radio" id="addition" name="interaction" class="interaction" />
	      <label for="addition">Add</label>
	      <input type="radio" id="auto" name="interaction" class="interaction" />
	      <label for="auto">Auto</label>
	      <input type="radio" id="line" name="interaction" class="interaction" />
	      <label for="line">Line</label>
	      <input type="radio" id="removal" name="interaction" class="interaction" />
	      <label for="removal">Remove</label>
	    </div>
            <hr />
	    <div id="imgtypeset">
	      <input type="radio" id="img" name="imgtype" checked="checked" class="imgtype" />
	      <label for="img">Image</label>
	      <input type="radio" id="seg" name="imgtype" class="imgtype" />
	      <label for="seg">Segment</label>
	      <input type="radio" id="edg" name="imgtype" class="imgtype" />
	      <label for="edg">Edges</label>
	    </div>

            <hr />

	    <button type="button" id="global" class="serversend button">Global</button>
	    <button type="button" id="local" class="serversend button">Local</button>
            <hr />
            <button type="button" id="copyr" class="serversend button">Copy</button>
            <button type="button" id="copyl" class="serversend button">Copy</button>
            <hr />
	    <button type="button" id="reset" class="button">Reset</button>
	  </div>
	  <h3><a href="#">Datasets</a></h3>
	  <div id="datasets">
	    <!-- <h3>Datasets</h3> -->
	    <!-- <button type="button" id="ti" class="dataset button">Ti-26 All</button> -->
	    <!-- <button type="button" id="ti2" class="dataset button">Ti-26 2</button> -->
	    <!-- <button type="button" id="ti4" class="dataset button">Ti-26 4</button> -->
	    <!-- <button type="button" id="c1a" class="dataset button">C1 Full</button> -->
	    <!-- <button type="button" id="c1b" class="dataset button">C1 Half</button> -->
	    <!-- <button type="button" id="c2a" class="dataset button">C2</button> -->
	    <!-- <button type="button" id="c3" class="dataset button">C3</button> -->
	    <!-- <button type="button" id="s1" class="dataset button">Cropped</button> -->
	  </div>
	</div>




      </div>
      <div class="rawoutput">
	<div id="outputtabs">
	  <ul>
	    <li><a href="#tabs-1">Output</a></li>
	    <li><a href="#tabs-2">Instructions</a></li>
	    <!-- <li><a href="#tabs-3">Datasets</a></li> -->
	  </ul>
	  <div id="tabs-1">
	    <div class="overflow-wrap">
	      <ul class="output"></ul>
	    </div>
	  </div>
	  <div id="tabs-2">
	    <p>
	      The <strong>Removal</strong> tool will remove a grain.
	      Click anywhere inside a grain to tag it for removal, and
	      then use the <strong>Local</strong> button to relabel
	      the local region.
	    </p>
	    <p>
	      New grains can be added with
	      the <strong>Addtion</strong> and <strong>Line</strong>
	      tools, followed by the <strong>Local</strong> button.
	      Use the <strong>Seed</strong>
	      and <strong>Dilation</strong> scrollbars to adjust the
	      created region's size.  As a rule, the seed point
	      (white) should always be completely inside the desired
	      grain, while the dilation size (grey) should cover the
	      entire grain, even if it must also cover other adjacent
	      grains, as shown in the image below.
	    </p>
	    <img src="/img/example1.png" />
	    <!-- <p>The <strong>Image</strong>, <strong>Segment</strong>, -->
	    <!-- and <strong>Edges</strong> buttons will select from -->
	    <!-- different views of the material. -->
	    <!-- </p> -->
	    <p>The two <strong>Copy</strong> buttons will copy the
	    segmentation from the slice to the left or right (as
	    determined by the arrow).
	    </p>
	    <p><strong>Right-click</strong> will remove the closest
	    annotation.</p>
	    <!-- <p>The <strong>Reset</strong> button will clear all  -->
	    <!-- </p> -->
	    
	  </div>
	</div>
      </div>
      <div class="sliders">
	<p class="slider-label">Zoom:</p>
	<div id="zoom" class="slider-zoom"></div> 	
	<input type="text" id="zoom-value" class="slider-text" />

	<p class="slider-label">Seed Radius:</p>
	<div id="size" class="slider"></div> 	
	<input type="text" id="size-value" class="slider-text" style="border:0; color:#f6931f; font-weight:bold;" />

	<p class="slider-label">Dilation:</p>
	<div id="dilation" class="slider"></div> 	
	<input type="text" id="dilation-value" class="slider-text" style="border:0; color:#f6931f; font-weight:bold;" />
      </div>
    </div>
    <div class="bottombar">
      <ul style="width:1353px">
	<li><img class="thumb1" src="/img/thumb/image0090.png" /><p>90</p></li>
	<li><img class="thumb2" src="/img/thumb/image0091.png" /><p>91</p></li>
	<li><img class="thumb3" src="/img/thumb/image0092.png" /><p>92</p></li>
	<li><img class="thumb4" src="/img/thumb/image0093.png" /><p>93</p></li>
	<li><img class="thumb5" src="/img/thumb/image0094.png" /><p>94</p></li>
	<li><img class="thumb6" src="/img/thumb/image0095.png" /><p>95</p></li>
	<li><img class="thumb7" src="/img/thumb/image0096.png" /><p>96</p></li>
	<li><img class="thumb8" src="/img/thumb/image0097.png" /><p>97</p></li>
	<li><img class="thumb9" src="/img/thumb/image0098.png" /><p>98</p></li>
	<li><img class="thumb10" src="/img/thumb/image0099.png" /><p>99</p></li>
	<li><img class="thumb11" src="/img/thumb/image0100.png" /><p>100</p></li>
      </ul>
    </div>
</div>
</body>
</html>
