# install numpy manually first to avoid circular dependency problem
Django==1.4
PIL==1.1.7
numpy==1.6.2
profilehooks==1.6
pymorph==0.96
scipy==0.10.1
simplejson==2.6.1
wsgiref==0.1.2
matplotlib==1.1.1
#wxPython==2.8.12.1
#wxPython-common==2.8.12.1
scikit-image==0.8.2
scikit-learn==0.13.1
Cython==0.19.1
